<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MadGames"
        tools:targetApi="31">
        <activity
            android:name=".TruthDareQuestion"
            android:exported="false" />
        <activity
            android:name=".TruthGame"
            android:exported="false" />
        <activity
            android:name=".FistScore"
            android:exported="false" />
        <activity
            android:name=".FistGame"
            android:exported="false" />
        <activity
            android:name=".FistFingers"
            android:exported="false" />
        <activity
            android:name=".DareGame"
            android:exported="false" />
        <activity
            android:name=".TrueOrDare"
            android:exported="false" />
        <activity
            android:name=".TicGame"
            android:exported="false" />
        <activity
            android:name=".TicTacToe"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>